/* ListOfOrders.css */
.order-list-container {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 1000px;
    margin: 10px auto;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .order-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }


.order-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .order-item-image {
    max-width: 20%; /* Set the max width as needed */
    height: auto;
    margin-right: 10px; /* Add margin to separate image from other details */
  }
 
  